{% extends "layouts/page.njk" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% include "view-components/error-summary.njk" %}

      {% if messages.length %}
        <h2 class="govuk-heading-l govuk-!-margin-bottom-6">
          AI assistant
        </h2>
        {% include "view-components/conversation-panel.njk" %}
      {% endif %}

    </div>
  </div>

  <div class="app-prompt-input-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        {% if not messages.length %}
          <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
            AI assistant
          </h1>
          {% include "view-components/conversation-panel.njk" %}
        {% endif %}

        {% include "view-components/pending-notice.njk" %}
        {% include "view-components/prompt-form.njk" %}

      </div>
    </div>
  </div>
{% endblock %}
