@use "govuk-frontend" as *;

// Response section styles
.app-response-section {
  margin-bottom: govuk-spacing(6);
}

// User question with blue left border
.app-user-question {
  padding: govuk-spacing(3);
  background-color: govuk-colour("blue");
  margin-bottom: govuk-spacing(1);
  margin-left: auto;
  max-width: 75%;

  p {
    margin-bottom: 0;
    color: govuk-colour("white");
  }
}

.app-assistant-response {
  padding: govuk-spacing(3);
  background-color: govuk-colour("light-grey");
  margin-bottom: govuk-spacing(1);

  p {
    margin-bottom: 0;
    color: #505a5f;
  }
}
