@use "govuk-frontend" as *;
@use "../variables" as vars;

// Auto-expanding textarea - uses overflow and max-height
.app-auto-grow-textarea {
  box-sizing: border-box;
  min-height: vars.$size-button;
  max-height: calc(1.5em * 10);
  overflow-y: auto;
  resize: none;
  margin-bottom: 0;
  field-sizing: content;
}

.app-question-input {
  position: relative;
  display: flex;
  align-items: flex-end;

  @media (max-width: 40.0625em) {
    flex-wrap: wrap;

    .app-icon-button {
      position: absolute;
      right: 0;
      top: calc(100% + #{vars.$spacing-small});
    }
  }
}

.app-icon-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: vars.$size-button;
  height: vars.$size-button;
  padding: 0;
  flex: 0 0 auto;
  background: vars.$defra-green-button;
  border: none;
  cursor: pointer;
  appearance: none;

  &:hover {
    background: vars.$defra-green-button-hover;
  }

  &:active {
    background: vars.$defra-green-button-active;
  }

  &:focus-visible {
    outline: vars.$outline-width solid vars.$black;
    outline-offset: vars.$outline-offset;
  }
}

.app-icon-button__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: vars.$size-button-inner;
  height: vars.$size-button-inner;
  background: vars.$white;
  border-radius: 50%;
}



.app-user-message {
  border-left: 4px solid vars.$defra-green;
  background-color: govuk-colour("light-grey");
  padding: govuk-spacing(3) govuk-spacing(3);
  margin-bottom: govuk-spacing(3);
}
