// Start page chat input styles
.app-question-input-container {
  position: relative;

  // Add padding to the form group to make space for the button
  .govuk-form-group {
    margin-bottom: 0;
  }
}

.app-icon-button {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  background: #00703c;
  border: 0;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background: #005a30;
  }

  &:active {
    top: 1px;
  }
}

.app-icon-button__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  background: #ffffff;
  border-radius: 50%;
}

