{% extends "layouts/page.njk" %}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% set breadcrumbs = [
        { text: 'Home', href: '/' },
        { text: 'Knowledge Management', href: '/knowledge' },
        { text: 'Add group', href: '/knowledge/add' }
      ] %}

      {% if errorMessage %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [{ text: errorMessage }]
        }) }}
      {% endif %}

      <h1 class="govuk-heading-xl">Add knowledge group</h1>

      <p class="govuk-body">Create a new knowledge group. You can upload documents to it via the Upload page.</p>

      <form action="/knowledge/add" method="post" novalidate>
        {{ govukInput({
          label: { text: "Group name", classes: "govuk-label--m" },
          name: "name",
          id: "name",
          value: values.name if values else "",
          classes: "govuk-input--width-30"
        }) }}

        {{ govukTextarea({
          label: { text: "Description (optional)", classes: "govuk-label--m" },
          name: "description",
          id: "description",
          value: values.description if values else "",
          rows: 3
        }) }}

        {{ govukInput({
          label: { text: "Information asset owner (optional)", classes: "govuk-label--m" },
          name: "information-asset-owner",
          id: "information-asset-owner",
          value: values['information-asset-owner'] if values else "",
          classes: "govuk-input--width-30"
        }) }}

        <div class="govuk-button-group govuk-!-margin-top-6">
          {{ govukButton({ text: "Create group" }) }}
          <a href="/knowledge" class="govuk-link">Cancel</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
