{% extends "layouts/page.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Upload files</h1>

      <form id="file-upload-form" method="post" action="{{ uploadUrl }}" enctype="multipart/form-data" novalidate>
        <input type="file" id="file-upload" name="file" multiple class="govuk-visually-hidden">
        <ul id="selected-files" class="govuk-list govuk-list--bullet"></ul>
        {{ govukButton({ text: "Choose files", type: "button", classes: "govuk-button--secondary", attributes: { id: "choose-files-btn" } }) }}
        {{ govukButton({ text: "Upload files" }) }}
      </form>
    </div>
  </div>
{% endblock %}
