{% extends "layouts/page.njk" %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Upload files</h1>

      <form id="file-upload-form" method="post" action="{{ uploadUrl }}" enctype="multipart/form-data" data-success-redirect="{{ uploadStatusUrl }}" novalidate>
        {{ govukFileUpload({
          id: "file-upload",
          name: "file",
          label: { text: "Upload files", classes: "govuk-label--m" },
          attributes: { multiple: true }
        }) }}
        <ul id="selected-files" class="govuk-list govuk-list--bullet govuk-!-display-none" aria-live="polite"></ul>
        {{ govukButton({ text: "Select files", type: "button", classes: "govuk-button--secondary govuk-!-display-none", attributes: { id: "choose-files-btn" } }) }}
        {{ govukButton({ text: "Upload files" }) }}
      </form>
    </div>
  </div>
{% endblock %}
