// Brand colors - Defra
$defra-green: #00a33b;
$defra-green-button: #00703c;
$defra-green-button-hover: #005a30;
$defra-green-button-active: #00441f;

// Focus state
$focus-yellow: #ffdd00;

// Neutral
$white: #ffffff;
$black: #0b0c0c;
$white-semi-transparent: rgba(255, 255, 255, 0.3);
