// Dimensions - all divisible by 8px where possible
$spacing-small: 8px;
$size-button: 40px;
$size-button-inner: 32px;
$max-width-container: 960px;

// Focus/outline dimensions
$outline-width: 3px;
$outline-offset: 2px;
$border-width: 1px;
$text-underline-thickness: 3px;

// Spacing
$text-underline-offset: 0.15em;
$text-underline-offset-hover: 0.1em;

// Typography
$line-height-tight: 1.2;
