@use "govuk-frontend" as *;

.app-conversation-container {
  border: $govuk-border-width-form-element solid govuk-colour("black");
  border-radius: 0;
  box-sizing: border-box;
  height: 350px;
  max-height: 350px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  scroll-behavior: smooth;
}


.app-user-question-wrapper {
  display: flex;
  justify-content: flex-end;

  &:focus {
    outline: none;
  }

  &#latest-question {
    scroll-margin-top: govuk-spacing(3);
  }
}

.app-user-question {
  flex: 0 1 auto;
  max-width: 66.66%;
  min-width: min-content;
  padding: govuk-spacing(3);
  background-color: govuk-colour("blue");

  p {
    margin-bottom: 0;
    color: govuk-colour("white");
  }
}

.app-assistant-response {
  padding: govuk-spacing(3);
  background-color: govuk-colour("light-grey");

  p {
    margin-bottom: 0;
    color: govuk-colour("dark-grey");
  }
}
