@use "govuk-frontend" as *;

.app-conversation-container {
  border: $govuk-border-width-form-element solid govuk-colour("black");
  border-radius: 0;
  box-sizing: border-box;
  height: 350px;
  max-height: 350px;
  overflow-y: auto;
  overflow-x: hidden;
}

.app-user-question {
  padding: govuk-spacing(3);
  background-color: govuk-colour("blue");
  margin-bottom: govuk-spacing(1);
  margin-left: auto;
  max-width: 75%;

  p {
    margin-bottom: 0;
    color: govuk-colour("white");
  }
}

.app-assistant-response {
  padding: govuk-spacing(3);
  background-color: govuk-colour("light-grey");
  margin-bottom: govuk-spacing(1);

  p {
    margin-bottom: 0;
    color: #505a5f;
  }
}
