.conversation-container {
  border: 2px solid #0b0c0c;
  border-radius: 0;
  box-sizing: border-box;
  height: 350px;
  max-height: 350px;
  overflow-y: auto;
  overflow-x: hidden;
}

.conversation-message--user {
  display: block;
  background-color: govuk-colour('blue');
  color: govuk-colour('white');
  padding: govuk-spacing(2) govuk-spacing(3);
  border-radius: 8px;
  max-width: 70%;
  margin-bottom: govuk-spacing(2);
  margin-left: auto;
  width: fit-content;
}
