name: Check Pull Request

on:
  pull_request:
    branches:
      - main
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review

jobs:
  security-scan:
    name: Security Scanning
    uses: ./.github/workflows/scan.yml
    secrets: inherit

  pr-validator:
    name: Run Pull Request Checks
    needs: security-scan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Test Docker Image Build
        run: |
          set +e
          docker build --no-cache --tag cdp-node-frontend-template .
          exit $?
  test:
    name: Run Journey Tests
    needs: security-scan
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      checks: write
    steps:
      - uses: actions/checkout@v4
      - run: docker build -t defradigital/ai-defra-search-frontend:${{github.sha}} .
      - uses: DEFRA/ai-defra-search-journey-tests/run-journey-tests@AICE-290-JOURNEY-TESTS
        with:
          ai-defra-search-agent: ${{github.sha}}
          branch: AICE-290-JOURNEY-TESTS
